
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
     <div class="col-md-6">
         <h3 style="margin-top:5px;"><a href="/GeneralScenario"><i class="fa fa-arrow-circle-left" style="cursor:pointer"></i></a> Tạo kịch bản tổng </h3>
     </div>
     <div class="col-md-6 " style="margin-bottom:15px; display:flex; justify-content:flex-end">
         <button type="button" class="btn btn btn-danger btn-sm">Hủy</button>
         <button type="button" class="btn btn-info btn-sm">Cập nhật</button>
         <button type="button" class="btn btn-success btn-sm">Hoàn tất</button>
     </div>
</div>
<div class="row">
    <div class="col-md-3">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light">         
            <div class="portlet-body">
                <div>
                    <label>Tên kịch bản tổng *</label>
                    <input type="text" class="form-control" placeholder="Kịch bản tổng A">
                </div>
                <div class="form-group "  style="margin-top: 2em">
                    <label>Loại màn hình</label>
                    <select class="form-control">
                        <option>Chọn loại màn hình *</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                    </select>
                </div>
                <div class="form-group" style="margin-top: 2em">
                    <label>Thương hiệu</label>
                    <select class="form-control">
                        <option>Chọn thương hiệu *</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                    </select>
                </div>
                <div style="margin-top: 2em">
                    <label>Người tạo *</label>
                    <input type="text" class="form-control">
                </div>
                <div style="margin-top: 2em">
                    <label>Ngày tạo *</label>
                    <input type="text" class="form-control" placeholder="Left icon">
                </div>

            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
    <div class="col-md-4">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light">
            <div class="portlet-body">             
                <table class=" table-hover">
                    <thead>
                        <tr>
                            <th style="width:5%"></th>
                            <th style="width:60%">Danh sách nội dung</th>
                            <th style="width:30%">Âm thanh</th>
                            <th style="width:15%"> <button type="button" class="btn btn-success btn-sm">Thêm mới</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>1. Nội dung A</td>
                            <td><input type="checkbox" class="icheck"></td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>1. Nội dung A</td>
                            <td><input type="checkbox" class="icheck"></td>
                            <td> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>     
   <div class="col-md-5">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light">
           
            <div class="portlet-body">
                <table>
                    <thead>
                        <tr>
                            <th style="width:40%"><input type="checkbox" class="icheck"> Danh sách thiết bị</th>
                            <th style="width:30%">
                                <div class="btn-group btn-group-home">
                                    <button id="btnGroupVerticalDrop1" type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                        Filter miền <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop1">
                                        <li>
                                            <a href="javascript:;">
                                                Dropdown link
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                Dropdown link
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                            <th style="width:30%">
                                <div class="btn-group btn-group-home">
                                    <button id="btnGroupVerticalDrop1" type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                        Filter nhà hàng <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop1">
                                        <li>
                                            <a href="javascript:;">
                                                Dropdown link
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                Dropdown link
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" class="icheck"> Box1</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
</div>

