@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#">Hệ thống</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Lịch phát sóng</a>
        </li>
    </ul>
    <div class="page-toolbar">
    </div>
</div>
<div class="portlet box green margin-top-10">
    <div class="portlet-body flip-scroll">
        <div class="row margin-top-5">
            <div class="col-md-12">
                <div class="tabbable-line boxless tabbable-reversed">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">Quản lý lịch phát sóng</div>
                                </div>
                                <div class="portlet-body">
                                    <div>
                                        <a href="#" class="btn btn-sm green" data-bind="click: $root.showModel">Thêm mới <i class="fa fa-plus"></i></a>
                                    </div>
                                    <div class="margin-top-10">
                                        <table class="table table-hover">
                                            <thead class="flip-content">
                                                <tr>
                                                    <th style="width: 5%; text-align: center;">#</th>
                                                    <th style="width:25%;text-align: center;">Tên</th>
                                                    <th style="width:25%;text-align: center;">Bắt đầu</th>
                                                    <th style="width:25%;text-align: center;">Kết thúc</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: playlists ">
                                                <tr>
                                                    <td style="text-align: center;">
                                                        <div class="btn-group">
                                                            <i class="fa fa-hand-o-up" style="cursor: pointer; " data-toggle="dropdown"></i>
                                                            <ul class="dropdown-menu" role="menu">
                                                                <li>
                                                                    <a href="#" data-bind="click: $root.edit">
                                                                        Chỉnh sửa
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" data-bind="click: $root.confirmRemove">
                                                                        Xóa
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: center;"><a href="#" data-bind="click: $root.loadPlaylistById,text: Name"></a></td>
                                                    <td style="text-align: center;"><span data-bind="text: moment(StartPlaylist()).format('DD-MM-YYYY')"> </span></td>
                                                    <td style="text-align: center;"><span data-bind="text:  moment(EndPlaylist()).format('DD-MM-YYYY')"></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12" data-bind="with: $root.selectedPlaylist">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-layers"></i>                                     
                                        <span data-bind="text: Name"></span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="form-group">
                                        <button data-bind="click: $root.addNewPlaylist" class="btn btn-sm btn-danger" type="button"><i class="fa fa-check"></i> <span>Lưu chỉnh sửa</span></button>
                                        <button data-bind="click: $root.modalAddPlaylist" class="btn btn-sm btn-info" type="button"><i class="fa fa-plus"></i> <span>Thêm mới</span></button>
                                        <button data-bind="click: $root.modalAddLive" class="btn btn-sm btn-info" type="button"><i class="fa fa-rss"></i> <span>Thêm Live</span></button>
                                    </div>
                                    <div class="form-group table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="width:5%">#</th>
                                                    <th style="width:45%">Tên chương trình</th>
                                                    <th style="width:10%">Thời lượng</th>
                                                    <th style="width:10%">Bắt đầu</th>
                                                    <th style="width:10%">Kết thúc</th>
                                                    <th style="width:20%">#</th>
                                                </tr>
                                            </thead>
                                           
                                            <tbody data-bind="foreach: $root.valueLives">
                                                <tr>
                                                    <td data-bind="text: Index "></td>
                                                    <td data-bind="text: Name "></td>
                                                    <td data-bind="text: Duration"></td>
                                                    <td data-bind="text: Start"></td>
                                                    <td data-bind="text: End"></td>
                                                    <td>
                                                        <a href="#" class="btn btn-sm green" data-bind="click: $root.play"><i class="fa fa-play"></i></a>
                                                        <a href="#" class="btn btn-sm green" data-bind="click: $root.editEvent"><i class="fa fa-edit"></i></a>
                                                        <a href="#" class="btn btn-sm grey" data-bind="click: $root.removeEvent"><i class="fa  fa-trash-o"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ghiLai" class="modal fade" data-bind="with: selectedPlaylist">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Ghi lại dữ liệu</h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group margin-top-15">
                                <label for="name">Tên </label>
                                <input data-bind="value: Name" class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-md-6">                            
                            <div class="form-group margin-top-15">
                                <label for="price">Bắt đầu</label>
                                <input data-bind="value: StartPlaylist" class="form-control " type="datetime-local" />
                            </div>
                        </div>
                        <div class="col-md-6">                          
                            <div class="form-group margin-top-15">
                                <label for="price">Kết thúc</label>
                                <input data-bind="value: EndPlaylist" class="form-control" type="datetime-local" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-check">
                                <label class="form-check-label">Trạng thái</label>
                                <div>
                                    <input type="checkbox" class="form-check-input" data-bind="checked: IsPublish">
                                    <label class="form-check-label">Hoạt động</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- ko if: $root.mode() === "create" -->
                <button type="button" class="btn green" data-bind="click: $root.create">Thêm mới</button>
                <!-- /ko -->
                <!-- ko if: $root.mode() === "update" -->
                <button type="button" class="btn green" data-bind="click: $root.update">Chỉnh sửa</button>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
<div id="addPlaylist" class="modal fade" data-bind="with: $root.selectedPlaylist">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><i class="fa fa-list"></i> <span data-bind="text: Name"></span></h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">                              
                                    <div class="input-group date-picker input-daterange" data-date="10/10/2010" data-date-format="dd/mm/yyyy">
                                        <input type="text" style="font-size:22px; color: blue" class="form-control" name="from" placeholder="từ ngày...">
                                        <span class="input-group-addon">
                                            đến
                                        </span>
                                        <input type="text" style="font-size:22px; color: blue" class="form-control" name="to" placeholder="đến ngày...">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="fullName" placeholder="Nhập họ tên/Email/Phone...">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span data-bind="click: $root.searchQueryString" class="input-group-addon input-circle-left">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    <input type="text" autocomplete="on" id="myInput" placeholder="Nhập từ khóa tìm kiếm" data-bind="value: $root.QueryString, valueUpdate: 'afterkeydown'"  class="form-control input-circle-right">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <span> Danh mục chương trình</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="form-group">
                                            <div>
                                                <div id="treeCat" class="tree-demo">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="portlet light bordered" data-bind="with: $root.selectdCat">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <span data-bind="text: Name"> </span>
                                        </div>
                                    </div>
                                    <div class="portlet-body" >
                                        <div>
                                            <div data-bind="with: $root.resultProject">
                                                <div class="row" id="style-3" style="max-height:550px; overflow:auto;" data-bind="click: $root.loadVideoItem">
                                                    <div class="col-md-12" data-bind="foreach: Projects">
                                                        <div class="col-md-3 col-sm-3 col-xs-12" style="padding:0 4px; cursor:pointer;" >
                                                            <div style="position:relative"  data-bind="click: $root.onSelected">
                                                                <div style="position:absolute; z-index:1001; left:2px; top:4px;border-radius: 4px; padding:4px 4px; text-align:center">
                                                                    <span data-bind="text: moment(ModifyDate()).fromNow()" style="font-weight:600;cursor:pointer;font-size:16px; color:white;background-color:red;opacity: .8; padding: 4px 8px; border-radius: 4px;"></span>
                                                                </div>
                                                                <div style="position:absolute; z-index:1001; right:2px; bottom:2px;" data-bind="visible: (Duration() != null && Duration().length > 0)">
                                                                    <span data-bind="text: Duration().substring(0,8)" style="color:hsl(0, 0%, 100%);background:hsl(0, 0%, 6.7%);opacity: .8; padding: 2px 4px; border-radius: 2px;"></span>
                                                                </div>
                                                                <img class="img-responsive" style="width:100%" data-bind="attr: {src: $root.isImageStorage($data), alt: Name()}">
                                                            </div>
                                                            <div data-bind="click: $root.onSelected"  style="background-color:#050a3e; padding:2px; min-height:60px;">
                                                                <div style="padding:10px;max-height: 1.1em;position: relative;width:95%">
                                                                    <a href="#" style="font-size:16px;color:white;content: attr(title);position: absolute;top: 2px; left: 2px;right: 15px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;" data-bind="text: Name"></a>
                                                                </div>
                                                                <div style="position:relative"  data-bind="with: $root.selectdCat">
                                                                    <a href="#" style="color:white;content: attr(title);position: absolute;top: 10px; left: 2px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;"  data-bind="text: Name"></a>
                                                                </div>
                                                                <div style="background-color:#333; padding:2px; position:absolute; z-index:1001; right:6px; bottom:2px;" data-bind="visible: Selected(), click: $root.onSelected">
                                                                   
                                                                    <i class="fa fa-check" style="font-size:26px; color:yellow; padding:4px;"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal" data-bind="click: $root.updateToPlaylist"> <i class="fa fa-check" ></i> Cập nhật</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"> <i class="fa fa-close"></i> Đóng lại</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="addLive" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <!-- ko if: $root.mode() === "addLive" -->
                <h4 class="modal-title">Thêm Live</h4>
                <!-- /ko -->
                <!-- ko if: $root.mode() === "editLive" -->
                <h4 class="modal-title">Sửa Live</h4>
                <!-- /ko -->
            </div>
            <div class="modal-body">
                <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row" data-bind="with: $root.valueLive">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Thứ tự</label>
                                <input class="form-control" type="number" data-bind="value: Index" />
                            </div>
                            <div class="form-group">
                                <label>Thời lượng</label>
                                <input class="form-control" type="text" data-bind="value: Duration" />
                            </div>
                            <div class="form-group">
                                <label>Bắt đầu</label>
                                <input class="form-control" type="text" data-bind="value: Start" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tên chương trình</label>
                                <input class="form-control"  type="text" data-bind="value: Name" />
                            </div>
                            <div class="form-group">
                                <label>Link</label>
                                <input class="form-control" type="text" data-bind="value: Path" />
                            </div>
                            <div class="form-group">
                                <label>Kết thúc</label>
                                <input class="form-control" type="text" data-bind="value: End" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- ko if: $root.mode() === "addLive" -->
                <button type="button" class="btn green" data-dismiss="modal" data-bind="click: $root.savePlaylist">Thêm mới</button>
                <!-- /ko -->
                <!-- ko if: $root.mode() === "editLive" -->
                <button type="button" class="btn green" data-dismiss="modal">Chỉnh sửa</button>
                <!-- /ko -->

            </div>
        </div>
    </div>
</div>
@section scripts {  
    <script src="~/ApiJs/livePlaylistViewModel.js"></script>
}