
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#">Hệ thống</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Nguồn tiếp sóng</a>
        </li>
    </ul>
    <div class="page-toolbar">
    </div>
</div>
<div class="row">
    <div class="margin-top-10 margin-bottom-10">
        <a href="#" class="btn btn-sm green" data-bind="click: $root.showModel">Thêm mới <i class="fa fa-plus"></i></a>
    </div>
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Danh sách nguồn tiếp sóng
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>
                <a href="#portlet-config" data-toggle="modal" class="config">
                </a>
                <a href="javascript:;" class="reload">
                </a>
                <a href="javascript:;" class="remove">
                </a>
            </div>
        </div>
        <div class="portlet-body ">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width: 5%; text-align: center;">#</th>
                            <th style="width:5%;text-align: center;">STT</th>
                            <th style="width:30%;text-align: center;">Tên nguồn tiếp sóng</th>
                            <th style="width:10%;text-align: center;">Kiểu</th>
                            <th style="width:15%;text-align: center;">Bắt đầu</th>
                            <th style="width:15%;text-align: center;">Kết thúc</th>
                            <th style="text-align: center;">Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: inputSources">
                        <tr>
                            <td style="text-align: center;">
                                <div class="btn-group">
                                    <i class="fa fa-hand-o-up" style="cursor: pointer; " data-toggle="dropdown"></i>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#" data-bind="click: $root.edit">
                                                Chỉnh sửa
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-bind="click: $root.confirmRemove">
                                                Xóa
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td style="text-align: center;" data-bind="text: $index() +1"></td>
                            <td style="text-align: center;" data-bind="text: Name"></td>
                            <td style="text-align: center;" data-bind="text: Type"></td>
                            <td style="text-align: center;" data-bind="text: moment(StartInput()).format('DD-MM-YYYY')"></td>
                            <td style="text-align: center;" data-bind="text:  moment(EndInput()).format('DD-MM-YYYY')"></td>
                            <td style="text-align: center;" data-bind="text: IsSchedule()?  'Hoạt động' : 'Khóa', css: !IsSchedule()? 'text-danger':'text-info'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="ghiLai" class="modal fade"  data-bind="with: selectedInputSource">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Ghi lại </h4>
                </div>
                <div class="modal-body">
                    <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group margin-bottom-20">
                                    <label for="name">Tên nguồn tiếp sóng </label>
                                    <input class="form-control" type="text" data-bind="value: Name" />
                                </div>
                                <div class="form-group margin-bottom-20">
                                    <label for="price">Bắt đầu</label>
                                    <input class="form-control" type="datetime-local" data-bind="value: StartInput" />
                                </div>
                                <div class="form-group margin-bottom-20">
                                    <label for="price">Param</label>
                                    <input class="form-control" type="text" data-bind="value: Param" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div  class="form-group margin-bottom-20">
                                    <label for="price">Kiểu</label>
                                    <input class="form-control" type="text"  data-bind="value: Type" placeholder="Tuner/IP"/>
                                </div>
                                <div  class="form-group margin-bottom-20">
                                    <label for="price">Kết thúc</label>
                                    <input class="form-control" type="datetime-local"  data-bind="value: EndInput"/>
                                </div>
                            </div>
                            <div class="col-md-12 margin-top-10">                             
                                <div class="form-check">
                                    <label class="form-check-label">Trạng thái :</label>
                                    <input type="checkbox" class="form-control" data-bind="checked: IsSchedule">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <!-- ko if: $root.mode() === "create" -->
                    <button type="button" class="btn green" data-bind="click: $root.create">Thêm mới</button>
                    <!-- /ko -->
                    <!-- ko if: $root.mode() === "update" -->
                    <button type="button" class="btn green" data-bind="click: $root.update">Chỉnh sửa</button>
                    <!-- /ko -->
                </div>

            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/ApiJs/liveInputSoruce.js"></script>
}

