
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" data-bind="foreach: valueInputSoures">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue-madison">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number" data-bind="text: Name">
                   
                </div>
                <div class="desc" data-bind="text: Type">
                    
                </div>
            </div>
            <div data-bind="with: $root.selectedDeviceByGroup">
            <a class="more" href="javascript:;">
               <span data-bind="text: NAME"></span> <i class="m-icon-swapright m-icon-white"></i>
            </a>
            </div>
        </div>
    </div>   
</div>
<div class="row">
    <div class="col-md-3 col-sm-3">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-folder-open"></i>
                    <span class="caption-subject bold uppercase">Nhóm </span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="style-3" style="max-height:450px; overflow:auto; padding:10px; background-color:hsl(0, 0%, 100%); box-shadow: rgb(69, 133, 191) 4px 5px 15px 5px">
                    <div>
                        <div id="tree_group0" class="tree-demo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-5">
        <div class="portlet light ">
            <div class="portlet-title" data-bind="with: $root.selectedDeviceByGroup">              
                <div class="col-md-12">
                    <div >
                        <div class="caption caption-md">
                            <i class="fa fa-folder-open"></i>
                            <span class="caption-subject bold uppercase">Thiết bị</span>: <span data-bind="text: NAME"></span>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="flip-content">
                            <tr>
                                <th style="width: 5%; text-align: center;">#</th>
                                <th style="width:20%;text-align: center;">Tên thiết bị</th>
                                <th style="width:35%;text-align: center;">IMEI</th>
                                <th style="width: 20%; text-align: center;">Nhóm</th>
                                <th style="text-align: center;">Ngày hết hạn</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.getDeviceByGroup">
                            <tr>
                                <td style="text-align: center;">
                                    <span data-bind="text: $index() +1"></span>
                                </td>
                                <td style="text-align: center;">
                                    <span data-bind="text: Name"></span>
                                    <br />
                                    <span class="text-muted" data-bind="text: Description"></span>
                                </td>
                                <td style="text-align: center;">

                                    <a href="#" data-bind="click: $root.getPlaylistByImei"><span data-bind="text: IMEI"></span></a>
                                </td>
                                <td style="text-align: center;">
                                    <a data-bind="with: $root.selectedDeviceByGroup">
                                        <span data-bind="text: NAME"></span>
                                    </a>
                                </td>
                                <td style="text-align: center;">
                                    <span data-bind="text: moment(ExpDate()).format('DD/MM/YYYY')"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>      
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="portlet light ">
            <div class="portlet-title" >
                <div class="col-md-12" data-bind="with: $root.selectedDeviceByGroup">
                    <div >
                        <div class="caption caption-md">
                            <i class="fa fa-folder-open"></i>
                            <span class="caption-subject bold uppercase">Lịch phát sóng</span>: <span data-bind="text: NAME"></span>
                        </div>
                    </div>                   
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="flip-content">
                            <tr>
                                <th style=" text-align: center;">#</th>
                                <th style="text-align: center;">Thời lượng</th>
                                <th style=" text-align: center;">Bắt đầu</th>
                                <th style=" text-align: center;">Kết thúc</th>
                                <th style="text-align: center;">Tên</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: playlistByGroupNames">
                            <tr>
                                <td style="text-align: center;">
                                    <span data-bind="text: $index() +1"></span>
                                </td>
                                <td style="text-align: center;">
                                    <span data-bind="text: Duration"></span>
                                </td>

                                <td style="text-align: center;">
                                    <span data-bind="text: Start"></span>
                                </td>
                                <td style="text-align: center;">
                                    <span data-bind="text: End"></span>
                                </td>
                                <td style="text-align: center;">
                                    <span data-bind="text: Name"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
       
    </div>
</div>
<input hidden type="text" value="@Session["role"].ToString()" id="decodeToken" />
@section scripts {
    <script src="~/ApiJs/home.js"></script>
}