@{
    ViewBag.Title = "Home Page";
}

<!-- END PAGE HEADER-->
<!-- BEGIN DASHBOARD STATS -->
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue-madison">
            <div class="visual">

            </div>
            <div class="details">
                <div class="number">
                    68
                </div>
                <div class="desc">
                    Thiết bị Online
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red-intense">
            <div class="visual">

            </div>
            <div class="details">
                <div class="number">
                    68
                </div>
                <div class="desc">
                    Thiết bị offline
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat " style="background-color: #00C0EF;">
            <div class="visual">

            </div>
            <div class="details">
                <div class="number">
                    68
                </div>
                <div class="desc">
                    Thiết bị kích hoạt
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat " style="background-color: #F39C12;">
            <div class="visual">

            </div>
            <div class="details">
                <div class="number">
                    68
                </div>
                <div class="desc">
                    Tổng số thiết bị
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END DASHBOARD STATS -->
<!-- BEGIN Portlet PORTLET-->
<div class="portlet light">
    <div class="portlet-title">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <h4 style="color:black">Danh sách thiết bị</h4>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <div class="btn-group btn-group-home">
                    <button id="btnGroupVerticalDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Filter brand <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop1">
                        <li>
                            <a href="javascript:;">
                                Dropdown link
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                Dropdown link
                            </a>
                        </li>
                    </ul>
                </div>


                <div class="btn-group btn-group-home">
                    <button id="btnGroupVerticalDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Filter miền <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop1">
                        <li>
                            <a href="javascript:;">
                                Dropdown link
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                Dropdown link
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group btn-group-home">
                    <button id="btnGroupVerticalDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Filter nhà hàng <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop1">
                        <li>
                            <a href="javascript:;">
                                Dropdown link
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                Dropdown link
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group btn-group-home">
                    <button id="btnGroupVerticalDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Filter loại LCD <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop1">
                        <li>
                            <a href="javascript:;">
                                Dropdown link
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                Dropdown link
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group btn-group-home ">
                    <button id="btnGroupVerticalDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Filter trạng thái <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop1">
                        <li>
                            <a href="javascript:;">
                                Dropdown link
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                Dropdown link
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group btn-group-home">
                    <button type="button" class="btn btn-default" style="padding-left:40px; padding-right:40px;">Tìm tên box</button>
                </div>
                <div class="btn-group btn-group-home">
                    <a type="button" data-toggle="modal" href="#add" class="btn btn-success">Thêm thiết bị</a>
                </div>

            </div>
        </div>
        <div class="actions " style="display: none">
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;">
            </a>
        </div>

    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            STT
                        </th>
                        <th>
                            Tên box
                        </th>
                        <th>
                            Loại màn hình
                        </th>
                        <th>
                            Nhà hàng
                        </th>
                        <th>
                            Tỉnh thành
                        </th>
                        <th>
                            Vùng miền
                        </th>
                        <th>
                            Tên brand
                        </th>
                        <th>
                            Tên kịch bản tổng
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th>
                            Địa chỉ mac
                        </th>
                        <th>
                            Phiên bản
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            Table cell
                        </td>
                        <td>
                            Table cell
                        </td>
                        <td>
                            Table cell
                        </td>
                        <td>
                            Table cell
                        </td>
                        <td>
                            Table cell
                        </td>
                        <td>
                            Table cell
                        </td>
                        <td>
                            Table cell
                        </td>
                        <td>
                            Table cell
                        </td>
                        <td>
                            Table cell
                        </td>
                        <td>
                            Table cell
                        </td>
                        <td>
                            <button type="button" class="btn btn-success">Chỉnh sửa</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            Table cell
                        </td>
                        <td>
                            Table cell
                        </td>
                        <td>
                            Table cell
                        </td>
                        <td>
                            Table cell
                        </td>
                        <td>
                            Table cell
                        </td>
                        <td>
                            Table cell
                        </td>
                        <td>
                            Table cell
                        </td>
                        <td>
                            Table cell
                        </td>
                        <td>
                            Table cell
                        </td>
                        <td>
                            Table cell
                        </td>
                        <td>
                            <button type="button" class="btn btn-success">Chỉnh sửa</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- END Portlet PORTLET-->

<div id="add" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Thay đổi thông tin thiết bị</h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <div class="col-md-12">
                            <table style="width:100%">
                                <tbody>
                                    <tr>
                                        <td class="td-30">Địa chỉ MAC</td>
                                        <td class="td-40">56:54:85:85:95:40</td>
                                        <td class="td-last-30">
                                            <div class="btn-group btn-group-home btn-100">
                                                <button id="btnGroupVerticalDrop1" type="button" class="btn btn-default dropdown-toggle btn-100" data-toggle="dropdown">
                                                    Chọn brand <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop1">
                                                    <li>
                                                        <a href="javascript:;">
                                                            Dropdown link
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            Dropdown link
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-30">Địa chỉ IP</td>
                                        <td class="td-40">56:54:85:85:95:40</td>
                                        <td class="td-last-30">
                                            <div class="btn-group btn-group-home btn-100">
                                                <button id="btnGroupVerticalDrop1" type="button" class="btn btn-default dropdown-toggle btn-100" data-toggle="dropdown">
                                                    Chọn miền <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop1">
                                                    <li>
                                                        <a href="javascript:;">
                                                            Dropdown link
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            Dropdown link
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-30">Last login</td>
                                        <td class="td-40">17:20:25 24/02/2020</td>
                                        <td class="td-last-30">
                                            <div class="btn-group btn-group-home btn-100">
                                                <button id="btnGroupVerticalDrop1" type="button" class="btn btn-default dropdown-toggle  btn-100" data-toggle="dropdown">
                                                    Chọn tỉnh <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop1">
                                                    <li>
                                                        <a href="javascript:;">
                                                            Dropdown link
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            Dropdown link
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-30">Power on</td>
                                        <td class="td-40">17:20:25 24/02/2020</td>
                                        <td class="td-last-30">
                                            <div class="btn-group btn-group-home btn-100">
                                                <button id="btnGroupVerticalDrop1" type="button" class="btn btn-default dropdown-toggle btn-100" data-toggle="dropdown">
                                                    Chọn nhà hàng <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop1">
                                                    <li>
                                                        <a href="javascript:;">
                                                            Dropdown link
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            Dropdown link
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-30"></td>
                                        <td class="td-40"></td>
                                        <td class="td-last-30">
                                            <div class="btn-group btn-group-home btn-100">
                                                <button id="btnGroupVerticalDrop1" type="button" class="btn btn-default dropdown-toggle  btn-100" data-toggle="dropdown">
                                                    Chọn loại CLD <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop1">
                                                    <li>
                                                        <a href="javascript:;">
                                                            Dropdown link
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            Dropdown link
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn default">Hủy</button>
                <button type="button" class="btn btn-success">Cập nhật</button>
            </div>
        </div>
    </div>
</div>


